# Directories
autom4te.cache/
lib/
build/
.vscode/
*.libs/
*.deps/

# Files
configure.scan
autoscan.log
*~
*Makefile
libtool
*.dSYM
*.a
*.swp
*.lo
*la
*.o
*Makefile
.editorconfig
config.status
config.log
stamp-h1

# Executables
auto_clear.sh
sffs
mkfs.sffs
